<% if defined?(simple) && simple %>
<p><%= link_to article.title, archive_path(article) %> --- <%= article.content[0,20] %></p>
<% else %>
<div class="article-title">
  <h1 align="center"><%= article.title %></h1><br>
</div>
<p>
  <%= markdown(article.content) %>
</p>
<div class="text-info">
<p> 发布时间: <%= format_time(article.created_at) %> </p>
<p> 最后编辑: <%= format_time(article.updated_at) %> </p>
</div>
<% end %>
